* {
    outline: 0 !important;
}

html{
    height: 100%;
}

body {
    background-image: url(../img/a4.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container{
    text-align: center;
}

.row {
    padding: 0;
    display:inline-block;
    background: transparent;
    color: white;
    border-radius: 3%;
    border: 1px solid white;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 5px 5px 10px 10px rgba(255, 255, 255, 0.19);
    margin-top: 25px;
}

ul {
    margin: 0 auto;
    width: 350px;
    color: #fff;
    background:transparent;
    list-style-type: none;
    border-radius: 3%;
    margin-top: 35px;
    margin-right: 100px;
}

ul li {
    border-bottom: 1px solid #fff;
    padding:8px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 85px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 15px;
    height: 30px;
    color: rgba(0,0,0,1);
    background: #fff;
    border-radius: 5%;
}

input, select, textarea {
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,1);
}

.addBtn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100px;
    cursor: pointer;
    padding: 8px 10px;
    overflow: hidden;
    border: 1px solid;
    font: normal 19px/1 "Acme", Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    border-radius: 6%;
  }
  
  .addBtn:active {
    margin: 3px 0 0 3px;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.8) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.8) ;
}

.addBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 7px 25px 0 rgba(255, 255, 255, 0.19);
}

.removeMe {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    position:absolute;
    box-sizing: content-box;
    width: 10px;
    cursor: pointer;
    padding: 5px 10px;
    overflow: hidden;
    border: 1px solid;
    font: normal 19px/1 "Acme", Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.8) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    border-radius: 50%;
    margin-left: 45px;
}

.removeMe:hover {
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.24), 0 0 15px 15px rgba(255, 255, 255, 0.19);
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}